MEMORY {
    BSSVAR:         start = $000000, size = $000200;
    BSSEXT:         start = $000200, size = $000100;
    ROM:            start = $008000, size = $8000, file = "ROMFILE";
}

SEGMENTS {
    CODE:           load = ROM, type = ro;
    RODATA:         load = ROM, type = ro;
    BOOTVECTORS:    load = ROM, type = ro, start = $FFE0;
    BSS:            load = BSSVAR, type = bss;
    BSSEXT:         load = BSSEXT, type = bss;
}

